In [2]:
import pandas as pd  # Data handling
import numpy as np   # Math
import matplotlib.pyplot as plt  # Charts
import seaborn as sns  # Better charts
from sklearn.linear_model import LinearRegression  # ML
import statsmodels.api as sm  # ARIMA
from prophet import Prophet  # Forecasting (if needed, Colab has it)
import sqlite3  # Database
import openpyxl  # Excel reports
!pip install reportlab
from google.colab import drive
drive.mount('/content/drive')
#from reportlab.lib.pagesizes import letter  # PDF reports
#from reportlab.pdfgen import canvas

Matplotlib is building the font cache; this may take a moment.

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/Data_Analysis_Project_paython_sem_6/clean_data/retail_sales_clean.csv',parse_dates=['Date'])
df2 = pd.read_csv('/content/drive/MyDrive/Data_Analysis_Project_paython_sem_6/clean_data/retail_store_clean.csv',parse_dates=['Date'],dayfirst=True)
df3 = pd.read_csv('/content/drive/MyDrive/Data_Analysis_Project_paython_sem_6/clean_data/superstore_clean.csv', parse_dates=['Order Date', 'Ship Date'],dayfirst=True, date_format='mixed')  # jo column date wale hain unke naam likh do

In [ ]:
df2['Date'] = pd.to_datetime(df2['Date'], dayfirst=True, errors='coerce')

In [ ]:
df2['Date'].isna().sum()

np.int64(44200)

In [ ]:
df2.loc[df2['Date'].isna()].head(10)

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
1200,NaT,S001,P0001,Furniture,East,110,80,190,78.64,17.27,15,Snowy,1,21.79,Spring
1201,NaT,S001,P0002,Groceries,West,465,310,157,308.77,82.04,10,Rainy,0,83.15,Winter
1202,NaT,S001,P0003,Groceries,East,50,1,101,10.70,69.18,10,Rainy,1,66.84,Summer
1203,NaT,S001,P0004,Toys,South,229,70,178,81.75,61.99,15,Cloudy,0,59.74,Winter
1204,NaT,S001,P0005,Toys,East,490,254,44,262.28,31.66,0,Cloudy,0,33.73,Spring
1205,NaT,S001,P0006,Toys,East,279,135,94,154.63,10.70,15,Snowy,0,8.63,Winter
1206,NaT,S001,P0007,Electronics,North,408,245,35,250.89,82.49,15,Cloudy,0,79.53,Spring
1207,NaT,S001,P0008,Groceries,West,134,122,164,135.25,13.38,10,Cloudy,1,18.17,Summer
1208,NaT,S001,P0009,Clothing,East,292,26,145,19.26,99.40,15,Snowy,0,99.92,Summer
1209,NaT,S001,P0010,Toys,North,264,25,52,37.05,80.10,0,Snowy,1,75.75,Summer

In [ ]:
total = len(df2)
non_null = df2['Date'].notna().sum()
missing = df2['Date'].isna().sum()

total, non_null, missing

(73100, np.int64(28900), np.int64(44200))

In [ ]:
# REMOVE NA DATE IN DF2

df2 = df2.dropna(subset=['Date'])

In [ ]:
print(df2.shape)

(28900, 15)

In [ ]:
df2_raw = pd.read_csv('/content/drive/MyDrive/Data_Analysis_Project_paython_sem_6/clean_data/retail_sales_clean.csv')
df2_raw.loc[df2['Date'].isna(), 'Date'].head(10)

Series([], Name: Date, dtype: object)

In [ ]:
print(df1.head(10))#frist 10 column ka data show karega
print(df2.head(10))
print(df3.head(10))
print(df1.info()) # info ex: columnname,datatypes etc...
print(df2.info())
print(df3.info())

   Transaction ID       Date Customer ID  Gender  Age Product Category  \
0               1 2023-11-24     CUST001    Male   34           Beauty
1               2 2023-02-27     CUST002  Female   26         Clothing
2               3 2023-01-13     CUST003    Male   50      Electronics
3               4 2023-05-21     CUST004    Male   37         Clothing
4               5 2023-05-06     CUST005    Male   30           Beauty
5               6 2023-04-25     CUST006  Female   45           Beauty
6               7 2023-03-13     CUST007    Male   46         Clothing
7               8 2023-02-22     CUST008    Male   30      Electronics
8               9 2023-12-13     CUST009    Male   63      Electronics
9              10 2023-10-07     CUST010  Female   52         Clothing

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100
5         1              30            30
6         2              25            50
7         4              25           100
8         2             300           600
9         4              50           200
        Date Store ID Product ID     Category Region  Inventory Level  \
0 2022-01-01     S001      P0001    Groceries  North              231
1 2022-01-01     S001      P0002         Toys  South              204
2 2022-01-01     S001      P0003         Toys   West              102
3 2022-01-01     S001      P0004         Toys  North              469
4 2022-01-01     S001      P0005  Electronics   East              166
5 2022-01-01     S001      P0006    Groceries  South              138
6 2022-01-01     S001      P0007    Furniture   East              359
7 2022-01-01     S001      P0008     Clothing  North              380
8 2022-01-01     S001      P0009  Electronics   West              183
9 2022-01-01     S001      P0010         Toys  South              108

   Units Sold  Units Ordered  Demand Forecast  Price  Discount  \
0         127             55           135.47  33.50        20
1         150             66           144.04  63.01        20
2          65             51            74.02  27.99        10
3          61            164            62.18  32.72        10
4          14            135             9.26  73.64         0
5         128            102           139.82  76.83        10
6          97            167           108.92  34.16        10
7         312             54           329.73  97.99         5
8         175            135           174.15  20.74        10
9          28            196            24.47  59.99         0

  Weather Condition  Holiday/Promotion  Competitor Pricing Seasonality
0             Rainy                  0               29.69      Autumn
1             Sunny                  0               66.16      Autumn
2             Sunny                  1               31.32      Summer
3            Cloudy                  1               34.74      Autumn
4             Sunny                  0               68.95      Summer
5             Sunny                  1               79.35      Winter
6             Rainy                  1               36.55      Winter
7            Cloudy                  0              100.09      Spring
8            Cloudy                  0               17.66      Autumn
9             Rainy                  1               61.21      Winter
   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2017-152156 2017-11-08 2017-11-11    Second Class    CG-12520
1       2  CA-2017-152156 2017-11-08 2017-11-11    Second Class    CG-12520
2       3  CA-2017-138688 2017-06-12 2017-06-16    Second Class    DV-13045
3       4  US-2016-108966 2016-10-11 2016-10-18  Standard Class    SO-20335
4       5  US-2016-108966 2016-10-11 2016-10-18  Standard Class    SO-20335
5       6  CA-2015-115812 2015-06-09 2015-06-14  Standard Class    BH-11710
6       7  CA-2015-115812 2015-06-09 2015-06-14  Standard Class    BH-11710
7       8  CA-2015-115812 2015-06-09 2015-06-14  Standard Class    BH-11710
8       9  CA-2015-115812 2015-06-09 2015-06-14  Standard Class    BH-11710
9      10  CA-2015-115812 2015-06-09 2015-06-14  Standard Class    BH-11710

     Customer Name    Segment        Country             City       State  \
0      Claire Gute   Consumer  United States        Henderson    Kentucky
1      Claire Gute   Consumer  United States        Henderson    Kentucky
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida
5  Brosina Hoffman   Consumer  United States      Los Angeles  California
6  Brosina Hoffman   Consumer  United States      Los Angeles  California
7  Brosina Hoffman   Consumer  United States      Los Angeles  California
8  Brosina Hoffman   Consumer  United States      Los Angeles  California
9  Brosina Hoffman   Consumer  United States      Los Angeles  California

   Postal Code Region       Product ID         Category Sub-Category  \
0        42420  South  FUR-BO-10001798        Furniture    Bookcases
1        42420  South  FUR-CH-10000454        Furniture       Chairs
2        90036   West  OFF-LA-10000240  Office Supplies       Labels
3        33311  South  FUR-TA-10000577        Furniture       Tables
4        33311  South  OFF-ST-10000760  Office Supplies      Storage
5        90032   West  FUR-FU-10001487        Furniture  Furnishings
6        90032   West  OFF-AR-10002833  Office Supplies          Art
7        90032   West  TEC-PH-10002275       Technology       Phones
8        90032   West  OFF-BI-10003910  Office Supplies      Binders
9        90032   West  OFF-AP-10002892  Office Supplies   Appliances

                                        Product Name     Sales
0                  Bush Somerset Collection Bookcase  261.9600
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2  Self-Adhesive Address Labels for Typewriters b...   14.6200
3      Bretford CR4500 Series Slim Rectangular Table  957.5775
4                     Eldon Fold 'N Roll Cart System   22.3680
5  Eldon Expressions Wood and Plastic Desk Access...   48.8600
6                                         Newell 322    7.2800
7                     Mitel 5320 IP Phone VoIP phone  907.1520
8  DXL Angle-View Binders with Locking Rings by S...   18.5040
9                   Belkin F5C206VTEL 6 Outlet Surge  114.9000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   datetime64[ns]
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 70.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 28900 entries, 0 to 73099
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                28900 non-null  datetime64[ns]
 1   Store ID            28900 non-null  object
 2   Product ID          28900 non-null  object
 3   Category            28900 non-null  object
 4   Region              28900 non-null  object
 5   Inventory Level     28900 non-null  int64
 6   Units Sold          28900 non-null  int64
 7   Units Ordered       28900 non-null  int64
 8   Demand Forecast     28900 non-null  float64
 9   Price               28900 non-null  float64
 10  Discount            28900 non-null  int64
 11  Weather Condition   28900 non-null  object
 12  Holiday/Promotion   28900 non-null  int64
 13  Competitor Pricing  28900 non-null  float64
 14  Seasonality         28900 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(5), object(6)
memory usage: 3.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   datetime64[ns]
 3   Ship Date      9800 non-null   datetime64[ns]
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9800 non-null   int64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(13)
memory usage: 1.3+ MB
None

In [ ]:
df2.dtypes

Date                  datetime64[ns]
Store ID                      object
Product ID                    object
Category                      object
Region                        object
Inventory Level                int64
Units Sold                     int64
Units Ordered                  int64
Demand Forecast              float64
Price                        float64
Discount                       int64
Weather Condition             object
Holiday/Promotion              int64
Competitor Pricing           float64
Seasonality                   object
dtype: object

In [ ]:
print(df1.dtypes)
print(df2.dtypes)
print(df3.dtypes)

Transaction ID               int64
Date                datetime64[ns]
Customer ID                 object
Gender                      object
Age                          int64
Product Category            object
Quantity                     int64
Price per Unit               int64
Total Amount                 int64
dtype: object
Date                   object
Store ID               object
Product ID             object
Category               object
Region                 object
Inventory Level         int64
Units Sold              int64
Units Ordered           int64
Demand Forecast       float64
Price                 float64
Discount                int64
Weather Condition      object
Holiday/Promotion       int64
Competitor Pricing    float64
Seasonality            object
dtype: object
Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code             float64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
dtype: object

In [ ]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(1000, 9)
(73100, 15)
(9800, 18)

In [ ]:
print(df1.describe())
print(df2.describe())
print(df3.describe())

       Transaction ID                           Date         Age     Quantity  \
count     1000.000000                           1000  1000.00000  1000.000000
mean       500.500000  2023-07-03 00:25:55.200000256    41.39200     2.514000
min          1.000000            2023-01-01 00:00:00    18.00000     1.000000
25%        250.750000            2023-04-08 00:00:00    29.00000     1.000000
50%        500.500000            2023-06-29 12:00:00    42.00000     3.000000
75%        750.250000            2023-10-04 00:00:00    53.00000     4.000000
max       1000.000000            2024-01-01 00:00:00    64.00000     4.000000
std        288.819436                            NaN    13.68143     1.132734

       Price per Unit  Total Amount
count     1000.000000   1000.000000
mean       179.890000    456.000000
min         25.000000     25.000000
25%         30.000000     60.000000
50%         50.000000    135.000000
75%        300.000000    900.000000
max        500.000000   2000.000000
std        189.681356    559.997632
                                Date  Inventory Level    Units Sold  \
count                          28900     28900.000000  28900.000000
mean   2022-12-22 19:11:00.207612160       274.013114    135.856574
min              2022-01-01 00:00:00        50.000000      0.000000
25%              2022-07-01 00:00:00       163.000000     47.000000
50%              2023-01-01 00:00:00       273.000000    107.000000
75%              2023-07-01 00:00:00       385.000000    202.000000
max              2024-01-01 00:00:00       500.000000    496.000000
std                              NaN       129.536500    109.287094

       Units Ordered  Demand Forecast         Price      Discount  \
count   28900.000000     28900.000000  28900.000000  28900.000000
mean      110.041765       140.865162     55.145651     10.026471
min        20.000000        -9.990000     10.010000      0.000000
25%        65.000000        52.777500     32.357500      5.000000
50%       110.000000       111.805000     55.075000     10.000000
75%       155.000000       207.620000     78.132500     15.000000
max       200.000000       512.360000     99.990000     20.000000
std        52.181581       109.536891     26.093873      7.086233

       Holiday/Promotion  Competitor Pricing
count       28900.000000        28900.000000
mean            0.497059           55.144635
min             0.000000            5.030000
25%             0.000000           32.480000
50%             0.000000           54.980000
75%             1.000000           77.970000
max             1.000000          104.940000
std             0.500000           26.272668
            Row ID                     Order Date  \
count  9800.000000                           9800
mean   4900.500000  2017-05-01 05:13:51.673469440
min       1.000000            2015-01-03 00:00:00
25%    2450.750000            2016-05-24 00:00:00
50%    4900.500000            2017-06-26 00:00:00
75%    7350.250000            2018-05-15 00:00:00
max    9800.000000            2018-12-30 00:00:00
std    2829.160653                            NaN

                           Ship Date   Postal Code         Sales
count                           9800   9800.000000   9800.000000
mean   2017-05-05 04:17:52.653061120  55217.343265    230.769059
min              2015-01-07 00:00:00   1040.000000      0.444000
25%              2016-05-27 18:00:00  23223.000000     17.248000
50%              2017-06-29 00:00:00  57551.000000     54.490000
75%              2018-05-19 00:00:00  90008.000000    210.605000
max              2019-01-05 00:00:00  99301.000000  22638.480000
std                              NaN  32066.750532    626.651875

In [ ]:
print(df1.isnull().sum())  # Check missing values count
print(df2.isnull().sum())
print(df3.isnull().sum())

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64
Date                  0
Store ID              0
Product ID            0
Category              0
Region                0
Inventory Level       0
Units Sold            0
Units Ordered         0
Demand Forecast       0
Price                 0
Discount              0
Weather Condition     0
Holiday/Promotion     0
Competitor Pricing    0
Seasonality           0
dtype: int64
Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
dtype: int64

In [ ]:
print(df1.duplicated().sum()) #Handle Duplicates
print(df2.duplicated().sum())
print(df3.duplicated().sum())

0
0
0

In [ ]:
print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['Transaction ID', 'Date', 'Customer ID', 'Gender', 'Age',
       'Product Category', 'Quantity', 'Price per Unit', 'Total Amount'],
      dtype='object')
Index(['Date', 'Store ID', 'Product ID', 'Category', 'Region',
       'Inventory Level', 'Units Sold', 'Units Ordered', 'Demand Forecast',
       'Price', 'Discount', 'Weather Condition', 'Holiday/Promotion',
       'Competitor Pricing', 'Seasonality'],
      dtype='object')
Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales'],
      dtype='object')

In [ ]:
print(df1.dtypes)  # Check data types
print(df2.dtypes)
print(df3.dtypes)

Transaction ID               int64
Date                datetime64[ns]
Customer ID                 object
Gender                      object
Age                          int64
Product Category            object
Quantity                     int64
Price per Unit               int64
Total Amount                 int64
dtype: object
Date                  datetime64[ns]
Store ID                      object
Product ID                    object
Category                      object
Region                        object
Inventory Level                int64
Units Sold                     int64
Units Ordered                  int64
Demand Forecast              float64
Price                        float64
Discount                       int64
Weather Condition             object
Holiday/Promotion              int64
Competitor Pricing           float64
Seasonality                   object
dtype: object
Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
dtype: object

In [ ]:
 #Clean Strings (for Text Columns)

df3['Customer Name'] = df3['Customer Name'].str.strip()

In [ ]:
df1 = df1[df1['Age'] < 100] #Handle Outliers (Basic)

In [ ]:
# Check missing values count
print(df1.isnull().sum())

# Or total missing in whole dataset
print(df1.isnull().sum().sum())

# Check data types
print(df1.dtypes)

# Quick overview
df1.info()

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64
0
Transaction ID               int64
Date                datetime64[ns]
Customer ID                 object
Gender                      object
Age                          int64
Product Category            object
Quantity                     int64
Price per Unit               int64
Total Amount                 int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   datetime64[ns]
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 70.4+ KB

In [ ]:
# Check missing values count
print(df2.isnull().sum())

# Or total missing in whole dataset
print(df2.isnull().sum().sum())

# Check data types
print(df2.dtypes)

# Quick overview
df2.info()

Date                  0
Store ID              0
Product ID            0
Category              0
Region                0
Inventory Level       0
Units Sold            0
Units Ordered         0
Demand Forecast       0
Price                 0
Discount              0
Weather Condition     0
Holiday/Promotion     0
Competitor Pricing    0
Seasonality           0
dtype: int64
0
Date                   object
Store ID               object
Product ID             object
Category               object
Region                 object
Inventory Level         int64
Units Sold              int64
Units Ordered           int64
Demand Forecast       float64
Price                 float64
Discount                int64
Weather Condition      object
Holiday/Promotion       int64
Competitor Pricing    float64
Seasonality            object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73100 entries, 0 to 73099
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                73100 non-null  object
 1   Store ID            73100 non-null  object
 2   Product ID          73100 non-null  object
 3   Category            73100 non-null  object
 4   Region              73100 non-null  object
 5   Inventory Level     73100 non-null  int64
 6   Units Sold          73100 non-null  int64
 7   Units Ordered       73100 non-null  int64
 8   Demand Forecast     73100 non-null  float64
 9   Price               73100 non-null  float64
 10  Discount            73100 non-null  int64
 11  Weather Condition   73100 non-null  object
 12  Holiday/Promotion   73100 non-null  int64
 13  Competitor Pricing  73100 non-null  float64
 14  Seasonality         73100 non-null  object
dtypes: float64(3), int64(5), object(7)
memory usage: 8.4+ MB

In [ ]:
# Check missing values count
print(df3.isnull().sum())

# Or total missing in whole dataset
print(df3.isnull().sum().sum())

# Check data types
print(df3.dtypes)

# Quick overview
df3.info()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
dtype: int64
0
Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   datetime64[ns]
 3   Ship Date      9800 non-null   datetime64[ns]
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9800 non-null   int64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(13)
memory usage: 1.3+ MB

In [ ]:
# Missing Postal Code  rows   
missing_postal = df3[df3['Postal Code'].isnull()]

#  City, State  Postal Code  
print(missing_postal[['City', 'State', 'Postal Code']])

            City    State  Postal Code
2234  Burlington  Vermont          NaN
5274  Burlington  Vermont          NaN
8798  Burlington  Vermont          NaN
9146  Burlington  Vermont          NaN
9147  Burlington  Vermont          NaN
9148  Burlington  Vermont          NaN
9386  Burlington  Vermont          NaN
9387  Burlington  Vermont          NaN
9388  Burlington  Vermont          NaN
9389  Burlington  Vermont          NaN
9741  Burlington  Vermont          NaN

In [ ]:
print(globals().keys())  #  variables  list 
#

dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', '__builtin__', '__builtins__', '_ih', '_oh', '_dh', 'In', 'Out', 'get_ipython', 'exit', 'quit', '_', '__', '___', '_i', '_ii', '_iii', '_i1', 'pd', 'np', 'plt', 'sns', 'LinearRegression', 'sm', 'Prophet', 'sqlite3', 'openpyxl', '_exit_code', 'drive', '_i2', 'df1', 'df2', 'df3', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_8', '_i9', '_i10', '_i11', '_i12', 'missing_postal', '_i13'])

In [ ]:
#  missing Postal Code  05401 (Burlington, VT  common code)  fill  
df3['Postal Code'].fillna(5401, inplace=True)
# Postal Code  integer   ( NaN    possible )
df3['Postal Code'] = df3['Postal Code'].astype('int64')
#       missing   
print(df3['Postal Code'].isnull().sum())  # 0 
print(df3.info())

0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   datetime64[ns]
 3   Ship Date      9800 non-null   datetime64[ns]
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9800 non-null   int64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(13)
memory usage: 1.3+ MB
None

/tmp/ipython-input-708326719.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3['Postal Code'].fillna(5401, inplace=True)

In [ ]:
# final check all datas are accurate
print("Shape:", df1.shape)
print("Info:")
df1.info()
print("Missing:", df1.isnull().sum())
print("Duplicates:", df1.duplicated().sum())
print("Describe:")
print(df1.describe())
print("Sample:")
print(df1.sample(5))


print("Shape:", df2.shape)
print("Info:")
df2.info()
print("Missing:", df2.isnull().sum())
print("Duplicates:", df2.duplicated().sum())
print("Describe:")
print(df2.describe())
print("Sample:")
print(df2.sample(5))


print("Shape:", df3.shape)
print("Info:")
df3.info()
print("Missing:", df3.isnull().sum())
print("Duplicates:", df3.duplicated().sum())
print("Describe:")
print(df3.describe())
print("Sample:")
print(df3.sample(5))

Shape: (1000, 9)
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   datetime64[ns]
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 70.4+ KB
Missing: Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64
Duplicates: 0
Describe:
       Transaction ID                           Date         Age     Quantity  \
count     1000.000000                           1000  1000.00000  1000.000000
mean       500.500000  2023-07-03 00:25:55.200000256    41.39200     2.514000
min          1.000000            2023-01-01 00:00:00    18.00000     1.000000
25%        250.750000            2023-04-08 00:00:00    29.00000     1.000000
50%        500.500000            2023-06-29 12:00:00    42.00000     3.000000
75%        750.250000            2023-10-04 00:00:00    53.00000     4.000000
max       1000.000000            2024-01-01 00:00:00    64.00000     4.000000
std        288.819436                            NaN    13.68143     1.132734

       Price per Unit  Total Amount
count     1000.000000   1000.000000
mean       179.890000    456.000000
min         25.000000     25.000000
25%         30.000000     60.000000
50%         50.000000    135.000000
75%        300.000000    900.000000
max        500.000000   2000.000000
std        189.681356    559.997632
Sample:
     Transaction ID       Date Customer ID  Gender  Age Product Category  \
426             427 2023-08-15     CUST427    Male   25      Electronics
938             939 2023-12-18     CUST939  Female   46      Electronics
690             691 2023-04-23     CUST691  Female   51         Clothing
736             737 2023-06-29     CUST737  Female   33         Clothing
886             887 2023-06-11     CUST887    Male   59         Clothing

     Quantity  Price per Unit  Total Amount
426         1              25            25
938         1             300           300
690         3              30            90
736         1              50            50
886         4              25           100
Shape: (28900, 15)
Info:
<class 'pandas.core.frame.DataFrame'>
Index: 28900 entries, 0 to 73099
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                28900 non-null  datetime64[ns]
 1   Store ID            28900 non-null  object
 2   Product ID          28900 non-null  object
 3   Category            28900 non-null  object
 4   Region              28900 non-null  object
 5   Inventory Level     28900 non-null  int64
 6   Units Sold          28900 non-null  int64
 7   Units Ordered       28900 non-null  int64
 8   Demand Forecast     28900 non-null  float64
 9   Price               28900 non-null  float64
 10  Discount            28900 non-null  int64
 11  Weather Condition   28900 non-null  object
 12  Holiday/Promotion   28900 non-null  int64
 13  Competitor Pricing  28900 non-null  float64
 14  Seasonality         28900 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(5), object(6)
memory usage: 3.5+ MB
Missing: Date                  0
Store ID              0
Product ID            0
Category              0
Region                0
Inventory Level       0
Units Sold            0
Units Ordered         0
Demand Forecast       0
Price                 0
Discount              0
Weather Condition     0
Holiday/Promotion     0
Competitor Pricing    0
Seasonality           0
dtype: int64
Duplicates: 0
Describe:
                                Date  Inventory Level    Units Sold  \
count                          28900     28900.000000  28900.000000
mean   2022-12-22 19:11:00.207612160       274.013114    135.856574
min              2022-01-01 00:00:00        50.000000      0.000000
25%              2022-07-01 00:00:00       163.000000     47.000000
50%              2023-01-01 00:00:00       273.000000    107.000000
75%              2023-07-01 00:00:00       385.000000    202.000000
max              2024-01-01 00:00:00       500.000000    496.000000
std                              NaN       129.536500    109.287094

       Units Ordered  Demand Forecast         Price      Discount  \
count   28900.000000     28900.000000  28900.000000  28900.000000
mean      110.041765       140.865162     55.145651     10.026471
min        20.000000        -9.990000     10.010000      0.000000
25%        65.000000        52.777500     32.357500      5.000000
50%       110.000000       111.805000     55.075000     10.000000
75%       155.000000       207.620000     78.132500     15.000000
max       200.000000       512.360000     99.990000     20.000000
std        52.181581       109.536891     26.093873      7.086233

       Holiday/Promotion  Competitor Pricing
count       28900.000000        28900.000000
mean            0.497059           55.144635
min             0.000000            5.030000
25%             0.000000           32.480000
50%             0.000000           54.980000
75%             1.000000           77.970000
max             1.000000          104.940000
std             0.500000           26.272668
Sample:
            Date Store ID Product ID     Category Region  Inventory Level  \
51643 2023-01-06     S003      P0004     Clothing   West              244
3654  2022-06-02     S003      P0015         Toys  South              196
18140 2022-01-07     S003      P0001         Toys  North              354
58672 2023-10-08     S004      P0013    Groceries   East               65
34557 2022-12-12     S003      P0018  Electronics   East              157

       Units Sold  Units Ordered  Demand Forecast  Price  Discount  \
51643          25             49            26.60  90.08        20
3654          169            166           171.79  87.70        20
18140         192             80           182.35  15.22         0
58672           8             50            22.25  97.43        15
34557          15            120            27.66  97.00        20

      Weather Condition  Holiday/Promotion  Competitor Pricing Seasonality
51643             Rainy                  1               90.98      Winter
3654              Sunny                  1               92.12      Winter
18140             Sunny                  0               12.31      Autumn
58672             Sunny                  1               98.38      Winter
34557            Cloudy                  1              100.37      Summer
Shape: (9800, 18)
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   datetime64[ns]
 3   Ship Date      9800 non-null   datetime64[ns]
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9800 non-null   int64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(13)
memory usage: 1.3+ MB
Missing: Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
dtype: int64
Duplicates: 0
Describe:
            Row ID                     Order Date  \
count  9800.000000                           9800
mean   4900.500000  2017-05-01 05:13:51.673469440
min       1.000000            2015-01-03 00:00:00
25%    2450.750000            2016-05-24 00:00:00
50%    4900.500000            2017-06-26 00:00:00
75%    7350.250000            2018-05-15 00:00:00
max    9800.000000            2018-12-30 00:00:00
std    2829.160653                            NaN

                           Ship Date   Postal Code         Sales
count                           9800   9800.000000   9800.000000
mean   2017-05-05 04:17:52.653061120  55217.343265    230.769059
min              2015-01-07 00:00:00   1040.000000      0.444000
25%              2016-05-27 18:00:00  23223.000000     17.248000
50%              2017-06-29 00:00:00  57551.000000     54.490000
75%              2018-05-19 00:00:00  90008.000000    210.605000
max              2019-01-05 00:00:00  99301.000000  22638.480000
std                              NaN  32066.750532    626.651875
Sample:
      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
8983    8984  CA-2017-110898 2017-03-06 2017-03-12  Standard Class
7449    7450  CA-2018-105669 2018-09-17 2018-09-22    Second Class
9693    9694  CA-2018-130148 2018-09-24 2018-09-28    Second Class
9091    9092  CA-2016-162950 2016-06-28 2016-07-03    Second Class
5500    5501  CA-2018-164378 2018-07-15 2018-07-18    Second Class

     Customer ID   Customer Name      Segment        Country           City  \
8983    LC-16870   Lena Cacioppo     Consumer  United States        Chicago
7449    SJ-20125   Sanjit Jacobs  Home Office  United States        Houston
9693    NK-18490    Neil Knudson  Home Office  United States  San Francisco
9091    DW-13585  Dorothy Wardle    Corporate  United States           Troy
5500    MM-18055  Michelle Moray     Consumer  United States  New York City

           State  Postal Code   Region       Product ID         Category  \
8983    Illinois        60623  Central  FUR-FU-10003773        Furniture
7449       Texas        77036  Central  OFF-AR-10000390  Office Supplies
9693  California        94110     West  OFF-PA-10000551  Office Supplies
9091        Ohio        45373     East  OFF-PA-10003177  Office Supplies
5500    New York        10024     East  FUR-CH-10002084        Furniture

     Sub-Category                                       Product Name    Sales
8983  Furnishings  Eldon Cleatmat Plus Chair Mats for High Pile C...  159.040
7449          Art                                Newell Chalk Holder    9.912
9693        Paper                                   Array Memo Cubes   31.080
9091        Paper                                         Xerox 1999   15.552
5500       Chairs                        Hon Mobius Operator's Chair  664.146

In [ ]:
df1.to_csv('/content/drive/MyDrive/Data_Analysis_Project_paython_sem_6/clean_data/retail_sales_clean_2.csv', index=False)
print("New File saved successfully! Path: /content/drive/MyDrive/Data_Analysis_Project_paython_sem_6/clean_data/retail_sales_clean_2.csv")

df2.to_csv('/content/drive/MyDrive/Data_Analysis_Project_paython_sem_6/clean_data/retail_store_clean_2.csv', index=False)
print("New File saved successfully! Path: /content/drive/MyDrive/Data_Analysis_Project_paython_sem_6/clean_data/retail_store_clean_2.csv")

df3.to_csv('/content/drive/MyDrive/Data_Analysis_Project_paython_sem_6/clean_data/superstore_clean_2.csv', index=False)
print("New File saved successfully! Path: /content/drive/MyDrive/Data_Analysis_Project_paython_sem_6/clean_data/superstore_clean_2.csv")

New File saved successfully! Path: /content/drive/MyDrive/Data_Analysis_Project_paython_sem_6/clean_data/retail_sales_clean_2.csv
New File saved successfully! Path: /content/drive/MyDrive/Data_Analysis_Project_paython_sem_6/clean_data/retail_store_clean_2.csv
New File saved successfully! Path: /content/drive/MyDrive/Data_Analysis_Project_paython_sem_6/clean_data/superstore_clean_2.csv